/*站位图   start*/
.ss-title {
  height: 20px;
  width: 60%;
  background-color: #f2f2f2;
}

.ss-badge {
  width: 30px;
  border-radius: 8px;
  font-size: 12px;
  padding: 2px 6px;
  background-color: #f2f2f2;
}

.ss-width-100 {
  width: 100%;
  height: 16px;
  background-color: #f2f2f2;
}

.ss-tel {
  width: 100px;
  height: 16px;
  background-color: #f2f2f2;
}

/*站位图    end*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  text-decoration: none
}

a, input, select, textarea {
  outline: 0;
}

html, body {
  height: 100%;
}

.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-17 {
  font-size: 17px;
}

.font-weight-bold {
  font-weight: bold;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mint-swipe, .mint-swipe-items-wrap {
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 100% !important;
}

.mint-toast {
  z-index: 11111111 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 111111;
}

.position-relative {
  position: relative;
}

.dis-flex {
  display: flex;
}

.disabled {
  color: #c8c8c8;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-0-1-auto {
  flex: 0 1 auto;
}

.content-space-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

.text-align-l {
  text-align: left;
}

.text-align-c {
  text-align: center;
}

.width-33 {
  width: 33.33%;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.width-50p {
  width: 50px;
}

.height-26em {
  height: 2.6em;
  line-height: 1.3em;
}

.height-50p {
  height: 50px;
}

.height-100 {
  height: 100%;
}

.height-100-bg-eee {
  min-height: 100%;
  background: #efeff4;
}

.line-height-44 {
  line-height: 44px;
}

.line-height-50 {
  line-height: 50px;
}

.line-height-60 {
  line-height: 60px !important;
}

.cor-fff {
  color: #fff;
}

.cor-333 {
  color: #333;
}

.cor-000 {
  color: #000;
}

.cor-666 {
  color: #666;
}

.cor-999 {
  color: #999;
}

.cor-9a9a9a {
  color: #9a9a9a;
}

.cor-ef0717 {
  color: #ef0717;
}

.cor-4DC99A {
  color: #4DC99A;
}

.cor-2196f3 {
  color: #2196f3;
}

.bg-fff {
  background-color: #fff;
}

.margin-10-0 {
  margin: 10px 0;
}

.margin-0-20 {
  margin: 0 20px;
}

.margin-0-30 {
  margin: 0 30px;
}

.margin-0-50 {
  margin: 0 50px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.padding-0 {
  padding: 0;
}

.padding-left-0 {
  padding-left: 0
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-right-0 {
  padding-right: 0
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-top-3 {
  padding-top: 3px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-10-10-10-15 {
  padding: 10px 10px 10px 15px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-0-5 {
  padding: 0 5px;
}

.padding-0-10 {
  padding: 0 10px;
}

.padding-10-0 {
  padding: 10px 0;
}

.padding-15-0 {
  padding: 15px 0;
}

.padding-15 {
  padding: 15px;
}

.padding-2-5 {
  padding: 2px 5px;
}

.padding-5-20 {
  padding: 5px 20px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.overflow-hidden {
  overflow: hidden;
}

.text-overflow-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.border-bottom-d9d9d9 {
  border-bottom: 1px solid #d9d9d9;
}

.border-top-d9d9d9 {
  border-top: 1px solid #d9d9d9;
}

.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*写在scoped中无效*/
.tabs .mint-cell-wrapper {
  padding-top: 10px !important;
}

.mint-cell-wrapper {
  background-size: 120% 0px !important;
}
.mint-indicator-mask {
  z-index: 9999999;
}
.mint-cell {
  min-height: 40px;
}

.mint-cell-allow-right:after {
  right: 5px;
}

.mint-cell:last-child {
  background-size: 100% 0;
}

.app-sale-price {
  color: #ef0717 !important;
  font-size: 16px;
  font-weight: 700;
}

.mint-checkbox-input:checked + .mint-checkbox-core {
  background-color: #F95B67;
  border-color: #F95B67;
}

.app-checkbox-core:after {
  top: 4px;
  left: 7px;
}

.mint-cell-swipe-button {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.app-cell-swipe .mint-cell-wrapper {
  padding-right: 0;
}

.app-cell-swipe.mint-cell-swipe,
.app-cell-swipe .mint-cell-value {
  width: 100%;
}

.app-cell-swipe > .mint-cell-wrapper > .mint-cell-title {
  display: none;
}

.app-cell-swipe .mint-cell-swipe-button {
  background-color: #ff0000;
  color: #fff;
}

.mint-swipe-indicator {
  opacity: 0.5;
}

.mint-swipe-indicator.is-active {
  background: #46bfba;
}

.app-no-data {
  width: 100%;
  height: 100%;
  background: url(../img/bg_no_data.png) no-repeat center center;
  background-size: 270px;
}

.qrcode-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0,0,0,.4);
}
.qrcode-content{
  padding: 7px;
  width: 240px;
  min-height: 200px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  pointer-events: auto;
  background-color: rgba(253,253,253,.95);
  position: relative;
  border-radius: 10px;
  text-align: center;
}
.qrcode-scan{
  padding: 8px 0 5px 10px;
}
.qrcode-close {
  margin: 5px auto;
  display: block;
  position: relative;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border: 1px solid #c4c4c4;
  width: 32px;
  height: 32px;
}
.qrcode-close:before, .qrcode-close:after {
  content: '';
  height: 2px;
  width: 24px;
  display: block;
  background: #c4c4c4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: absolute;
  top: 15px;
  left: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.qrcode-close:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
